.form-control {
	position: relative;
	margin-bottom: 15px;
	label {
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s ease;
		pointer-events: none;

		span {
			display: inline-block;
			transition:
				transform 0.3s,
				color 0.3s;
			transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
	}

	input {
		&:focus + label span,
		&:valid + label span {
			transform: translateY(-45px);
			background: -webkit-linear-gradient(45deg, #eee, purple);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		height: 50px;
		padding-top: 0;
		padding-bottom: 0;
		/* Center the text vertically */
		display: flex;
		align-items: center;
	}
}
